### Operators in Python

In [ ]:
Operators in python perform operations on variables or values

## 1️⃣ Arithmetic Operators


| Operator | Description | Example |
|----------|------------|---------|
| `+` | Addition | `5 + 3 = 8` |
| `-` | Subtraction | `5 - 3 = 2` |
| `*` | Multiplication | `5 * 3 = 15` |
| `/` | Division (float) | `5 / 2 = 2.5` |
| `//` | Floor Division | `5 // 2 = 2` |
| `%` | Modulus (Remainder) | `5 % 2 = 1` |
| `**` | Exponentiation | `5 ** 2 = 25` |

In [58]:
a = 10
b = 3

a ** b

1000

## 2️⃣ Comparison (Relational) Operators
These operators compare values and return `True` or `False`.

| Operator | Description | Example |
|----------|------------|---------|
| `==` | Equal to | `5 == 5` → `True` |
| `!=` | Not equal to | `5 != 3` → `True` |
| `>` | Greater than | `5 > 3` → `True` |
| `<` | Less than | `5 < 3` → `False` |
| `>=` | Greater than or equal to | `5 >= 5` → `True` |
| `<=` | Less than or equal to | `5 <= 3` → `False` |

In [64]:
x = 20
y = 20

x >= y

True

## 3️⃣ Logical Operators
These operators are used to combine multiple conditions.

| Operator | Description | Example |
|----------|------------|---------|
| `and` | Returns `True` if both conditions are `True` | `(5 > 3) and (10 > 5)` → `True` |
| `or` | Returns `True` if at least one condition is `True` | `(5 > 3) or (10 < 5)` → `True` |
| `not` | Reverses the result | `not (5 > 3)` → `False` |

In [71]:
age = 20
salary = 80000

not(age >= 25 or salary >= 40000)

False

In [73]:
not(False)

True

## 4️⃣ Bitwise Operators
These operators work on binary numbers.

| Operator | Description | Example (`a=5 (0101)`, `b=3 (0011)`) |
|----------|------------|-------------------------------------|
| `&` | AND | `a & b` → `1` (`0001`) |
| `|` | OR | `a | b` → `7` (`0111`) |
| `^` | XOR | `a ^ b` → `6` (`0110`) |
| `~` | NOT (bitwise complement) | `~a` → `-6` |
| `<<` | Left Shift | `a << 1` → `10` (`1010`) |
| `>>` | Right Shift | `a >> 1` → `2` (`0010`) |

In [79]:
a = 5 # 0101 -> 0*2^3 + 1*2^2 + 0*2^1 + 1*2^0 = 5
b = 3 # 0011

#Rule: both bits are 1 it gives 1, otherwise it gives 0

#Rule: 
a << 1 #shift the bits by n (1) places (add zeros at right)

#0101
#1010

10

## 5️⃣ Assignment Operators
These operators assign values to variables.

| Operator | Description | Example |
|----------|------------|---------|
| `=` | Assigns value | `x = 10` |
| `+=` | Adds and assigns | `x += 5` → `x = x + 5` |
| `-=` | Subtracts and assigns | `x -= 5` → `x = x - 5` |
| `*=` | Multiplies and assigns | `x *= 5` → `x = x * 5` |
| `/=` | Divides and assigns | `x /= 5` → `x = x / 5` |
| `//=` | Floor divides and assigns | `x //= 5` |
| `%=` | Modulus and assigns | `x %= 5` |
| `**=` | Exponent and assigns | `x **= 5` |
| `&=, |=, ^=, <<=, >>=` | Bitwise assignments | `x &= 5` |

In [82]:
x = 5
x += 1 # x = x + 1
print(x)

6

## 6️⃣ Identity Operators
Identity operators check if two objects refer to the same memory location.

| Operator | Description | Example |
|----------|------------|---------|
| `is` | Returns `True` if both objects refer to the same memory location | `a is b` |
| `is not` | Returns `True` if objects do not refer to the same memory location | `a is not b` |

In [85]:
a = [1, 2, 3]
b = a

print(a is not b)

c = [4,5,6]
print(c is a)

False
False

## 7️⃣ Membership Operators
Membership operators check if a value exists in a sequence.

| Operator | Description | Example |
|----------|------------|---------|
| `in` | Returns `True` if a value is in the sequence | `"a" in "apple"` |
| `not in` | Returns `True` if a value is not in the sequence | `"x" not in "apple"` |

In [ ]:
sequence -> list, tuple, string

In [88]:
fruits = ['apple', 'banana', 'mango']

'kiwi' not in fruits

True